<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome - <% data.name %>
  </title>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-[#494949]">
  <div class="mt-10 mx-auto max-w-[760px]">
    <h1 class="text-sm text-[#387ebf] font-semibold">Hello <% data.name %>,
    </h1>
    <div class="text-lg text-[#2f6da5] font-bold">We are happy to have you onboard!</div>

    <div class="mt-10 ">
      <p class="mb-1">You now have super admin access, which allows you to do a lot of things like make a user admin and
        so on...</p>

      <p class="mb-1">Use this access key to login: <span class="font-bold">
          <% data.access_key %>
        </span></p>

      <p class="mb-1">For better security, we generate an <span class="font-semibold">access key</span> for you to be
        able to login for the first time and,
        it should be
        noted that it is <span class="font-semibold">mandatory to choose a strong password on the first login!</span>
      </p>

      <div class="mx-auto my-10 w-max flex flex-col justify-center items-center">
        <p class="mb-2 font-semibold">Click the button below for your first login:</p>

        <button
          class="mt-2 text-white bg-[#387ebf] rounded-lg py-3 px-6 uppercase text-lg font-bold hover:bg-[#2f6da5]">
          <a target="_blank" href="http://accounts.fikani.com/login?access_key=<%data.access_key%>">
            Login
          </a>
        </button>
      </div>

      <div class="my-6 text-sm">
        <p>In case you need further assistance, write to us on</p>
        <a class="text-[#387ebf]" href="mailto:support@fikani.com">support@fikani.com</a>
      </div>

      <div class="text-sm">Thank you, <span class="font-semibold">FIKANI Digital</span>.</div>


    </div>
  </div>
</body>

</html>